.btn-back {
  display: flex;
  align-items: center;
  gap: 12px;
  color: inherit;
  text-decoration: none;
  margin-bottom: 24px;
  transition: 250ms color;
}

.btn-back:hover {
  color: var(--active-color);
}
