.card {
  width: 198px;
  border-radius: 8px;
  text-decoration: none;
  border-radius: 8px;
  overflow: hidden;
}

.poster {
  height: 256px;
  overflow: hidden;
  margin-bottom: 12px;
}

.title {
  font-weight: 400;
}

.card-subtitle {
  color: var(--text-color-light);
}
